# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
!/gradle/wrapper/*.jar

# IDEA
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/deployment.xml
/.idea/kotlinScripting.xml
/.idea/resourceBundles.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/dictionaries
/.idea/modules
/.idea/libraries
/.idea/runConfigurations
/.idea/shelf
*.iml

# MAC
.DS_Store

# Gradle
.gradle/
build/
!**/src/**/build/
/tools/gradle/plugins/repository/
